body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.nav-items a,
.footer-links a {
	text-decoration: none;
}
	.nav-items a:hover,
	.footer-links a:hover {
		text-decoration: underline;
	}

.nav-items > * + * {
	margin-left: var( --s0 );
}
	.nav-items a.active {
		text-decoration: underline;
	}
	.nav-icon {
		display: inline-block;
		position: relative;
	}
	.nav-items svg {
		position: relative;
		vertical-align: middle;
		height: var( --s1 );
	}

.content {
	flex: 1 0 auto;
}
	@media screen and (min-width: 32rem) {
		.content {
			--padding-block: var( --s3 );
		}
	}

.footer {
	flex-shrink: 0;

	background-color: var( --theme-color-footerBackground, var( --color-black ) );
	color: var( --theme-color-footerText, var( --color-white ) );
}
	.footer .container {
		--padding-block: var( --s2 );
	}

.footer-sections {
	--grid-gap: var( --s2 );

	column-gap: var( --grid-gap );
	row-gap: var( --grid-gap );

	grid-template-columns: repeat(
		auto-fit,
		minmax( 32ch, 1fr )
	);
}
	.footer-sections section {
		max-width: 40ch;
	}

.footer-links li {
	display: block;
}

.page-container {
	--padding-block: var( --s1 );
}
	@media screen and (min-width: 32rem) {
		.page-container {
			--padding-block: var( --s3 );
		}
	}

.posts {
	--grid-gap: var( --s2 );

	column-gap: var( --grid-gap );
	row-gap: var( --grid-gap );

	grid-template-columns: repeat(
		auto-fit,
		minmax( 24ch, 1fr )
	);
}

.header, .page-header {
	background-color: var( --theme-color-headerBackground, var( --color-black ) );
	color: var( --theme-color-headerText, var( --color-white ) );
}

	@media screen and (min-width: 32rem) {
		.page-header {
			text-align: center;
			padding-top: var( --s3 );
			padding-bottom: var( --s1 );
		}
	}

.post-card a {
	text-decoration: none;
}
	.post-card-image {
		position: relative;
		width: 100%;
		padding-bottom: calc( (2 / 3) * 100% );
		background-color: var( --color-gray-light );
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
		.post-card-image.no-image:before {
			z-index: 1;
			content: "";
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			background: var( --theme-icon ) no-repeat center;
			background-size: 25%;
			mix-blend-mode: soft-light;
		}

	.post-card .post-title {
		font-size: var( --s1 );
		font-weight: 500;
	}
	.post-card a:hover .post-title {
		text-decoration: underline;
	}

	.post-pinned svg {
		position: relative;
		top: var( --s-4 );
		height: var( --s0 );
		width: var( --s0 );
	}

.post-header h1 {
	font-size: var( --s2 );
	font-weight: 600;
}
	@media screen and (min-width: 32rem) {
		.post-header h1 {
			font-size: var( --s3 );
		}
	}

.page-contents {
	color: var( --theme-color-bodyText );
}

.page-contents h2, .page-contents h3 {
	line-height: 1;
}

.page-contents h2 {
	font-family: var( --font-sans );
	font-size: var( --s1 );
	font-weight: bold;
}
	.page-contents * + h2,
	.page-contents * + h3,
	.page-contents * + h4 {
		margin-top: var( --s2 );
	}
	
.page-contents h3 {
	font-family: var( --font-sans );
	font-size: var( --s0 );
	font-weight: bold;
	text-transform: uppercase;
}

.page-contents hr {
	border: none;
	border-top: solid var( --color-gray ) 1px;
}

.page-contents img {
	width: 100%;
}

.page-contents strong {
	font-family: var( --font-sans );
}

.page-contents ol,
.page-contents ul,
.page-contents blockquote
{
	padding-left: var( --s0 );
}
	.page-contents ul li {
		display: list-item;
	}

.page-contents p code {
	border-radius: var( --s-4 );
	padding: var( --s-4 ) var( --s-3 );
	background-color: var( --color-gray-light );
	color: var( --color-black );
}

.page-contents pre code {
	display: block;
	overflow-x: scroll;
	border-radius: var( --s-4 );
	padding: var( --s0 );
	background-color: var( --color-black );
	color: var( --color-white );
	line-height: var( --s-ratio );
}
