:root {
	--s-ratio: 1.5;
	--s-4: calc( var( --s-3 ) / var( --s-ratio ) );
	--s-3: calc( var( --s-2 ) / var( --s-ratio ) );
	--s-2: calc( var( --s-1 ) / var( --s-ratio ) );
	--s-1: calc( var( --s0 ) / var( --s-ratio ) );
	--s0: 1rem;
	--s1: calc( var( --s0 ) * var( --s-ratio ) );
	--s2: calc( var( --s1 ) * var( --s-ratio ) );
	--s3: calc( var( --s2 ) * var( --s-ratio ) );
	--s4: calc( var( --s3 ) * var( --s-ratio ) );

	--container-width: 64rem;
	--measure-default: 64ch;
	--measure: var( --measure-default );

	--color-black: #111;
	--color-white: #f7fafc;
	--color-gray-light: #e2e8f0;
	--color-gray: #718096;
	--color-gray-dark: #4a5568;

	--font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Menlo, Monaco, "Courier New", Courier, monospace;
	--font-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	--font-serif: Georgia, serif;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var( --font-sans );
}

body, h1, h2, p {
	margin: 0;
	font-size: unset;
	font-weight: unset;
}

code {
	font-family: var( --font-mono );
}

ul {
	padding: 0;
}
	ul li {
		display: inline;
	}

p, li {
	line-height: var( --s-ratio );
}

a {
	color: inherit;
}
