<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ blog.name }}{% endset -%}
	{%- set pageDescription %}{{ description if description else blog.description }}{% endset -%}
	{%- set pageUrl %}{{ blog.url }}{{ page.url }}{% endset -%}
	{%-set pageImage %}{% if socialImage %}{{ socialImage }}{% else %}{{ blog.url }}/social.png{% endif %}{% endset %}

	<title>{{ pageTitle }}</title>

	<meta name="title" content="{{ pageTitle }}">
	<meta name="description" content="{{ pageDescription }}">

	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ pageUrl }}">
	<meta property="og:title" content="{{ pageTitle }}">
	<meta property="og:description" content="{{ pageDescription }}">
	<meta property="og:image" content="{{ pageImage }}">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ pageUrl }}">
	<meta property="twitter:title" content="{{ pageTitle }}">
	<meta property="twitter:description" content="{{ pageDescription }}">
	<meta property="twitter:image" content="{{ pageImage }}">

	<link rel="alternate" type="application/atom+xml" href="/feed.xml">

	{%- set css -%}
		{% include "style/global.css" %}
		{% include "style/composition.css" %}
		{% include "style/utilities.css" %}
		{% include "style/blocks.css" %}
	{%- endset %}
	<style>
		{{ css | cssmin | safe }}

		:root {
			--theme-color-headerBackground: {{ theme.header.background }};
			--theme-color-headerText: {{ theme.header.text }};
			--theme-color-bodyText: var( --color-gray-dark );
			--theme-color-footerBackground: {{ theme.footer.background }};
			--theme-color-footerText: {{ theme.footer.text }};
			--theme-color-icon: var( --theme-color-headerText );
			--theme-icon: url( /icons/{{ theme.icon.filename }} );
		}
	</style>
</head>

<body>
	<header class="[][][ header ]">
		<nav
			class="[][ grid container center font-sm uppercase ][ site-nav ]"
		>
			{% set svg %}../../icons/{{ theme.icon.filename }}{% endset %}
			<a class="[][ no-underline ][ nav-icon ]" href="/">{% include svg %}</a>

			<ul class="[][][ nav-items ]">
				{% for navItem in (collections.pages | sortPages) %}
				{% if navItem.data.navigation !== false and navItem.data.navigation !== "false" %}
				<li><a href="{{ navItem.url }}" class="{{ 'active' if navItem.url == page.url }}">{{ navItem.data.title }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</header>

	{{ content | safe }}

	<footer class="[][][ footer font-sm ]">
		<div
			class="[ center ][ grid container ][ footer-sections ]"
		>
			<section class="[ stack-sm ][][]">
				<h2 class="[][ bold ][]">{{ blog.name }}</h2>
				<p class="[][ opacity-75 ][]"><a href="/archive">Archive</a></p>
				<p class="[][ opacity-75 ][]"><a href="/feed.xml">RSS Feed</a></p>
			</section>

			{% if links.length > 0 %}
			<section class="[ stack-sm ][][]">
				<h2 class="[][ bold ][]">Links</h2>

				<ul class="[ stack-sm ][][ footer-links ]">
				{% for link in links %}
					<li><a href="{{ link.url }}" class="[][ opacity-75 ][]">{{ link.name }}</a></li>
				{% endfor %}
				</ul>
			</section>
			{% endif %}
		</div>
	</footer>
</body>
</html>
