<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ site.name }}{% endset %}
	{% set pageDescription %}{{ description if description else (site.description | striptags ) }}{% endset %}
	{% set pageUrl %}{{ site.url }}{{ page.url }}{% endset %}

	<title>{{ pageTitle }}</title>

	<meta name="title" content="{{ pageTitle }}">
	<meta name="description" content="{{ pageDescription }}">

	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ pageUrl }}">
	<meta property="og:title" content="{{ pageTitle }}">
	<meta property="og:description" content="{{ pageDescription }}">
	<meta property="og:image" content="{{ socialImage }}">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ pageUrl }}">
	<meta property="twitter:title" content="{{ pageTitle }}">
	<meta property="twitter:description" content="{{ pageDescription }}">
	<meta property="twitter:image" content="{{ socialImage }}">

	{%- set css -%}
		{% include "style/global.css" %}
		{% include "style/composition.css" %}
		{% include "style/utilities.css" %}
		{% include "style/blocks.css" %}
	{%- endset %}
	<style>
		{{ css | cssmin | safe }}

		:root {
			--theme-color-headerBackground: {{ theme.header.background }};
			--theme-color-headerText: {{ theme.header.text }};
			--theme-color-footerBackground: {{ theme.footer.background }};
			--theme-color-footerText: {{ theme.footer.text }};
			--theme-color-icon: var( --theme-color-headerText );
			--theme-icon: url( /icons/{{ theme.icon.filename }} );
		}
	</style>
</head>

<body>
	<header class="[][][ header ]">
		<nav
			class="[ container center font-sm uppercase ][][]"
		>
			<ul class="[][][ nav-items ]">
				<li>
				{% set svg %}../../icons/{{ theme.icon.filename }}{% endset %}
				<a class="[][ no-underline ][ nav-icon ]" href="/">{% include svg %}</a></li>
				{% for navItem in collections.pages %}
				<li><a href="{{ navItem.url }}" class="{{ 'active' if navItem.url == page.url }}">{{ navItem.data.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</header>

	{{ content | safe }}

	<footer
		class="[][ bg-black font-sans ][ footer ]"
	>
		<div
			class="[ container center font-sm ][][]"
		>
			<p class="color-gray-light">{{ site.name }}</p>
		</div>
	</footer>
</body>
</html>
