---
layout: layouts/base.njk
---
<main
	class="[][][ content ]"
>
	<div
		class="[ stack-lg ][][ page-header ]"
	>
		<div
			class="[ stack-sm ][ container center font-sans ][]"
		>
			<h1 class="[][ bold font-2 line-1 ][]">{{ title }}</h1>
		</div>
	</div>

	<div
		class="[ stack container ][ center ][ page-container page-contents ]"
	>
		<div class="[ stack measure ][ center ][]">
			{{ content | safe }}
		</div>
	</div>
</main>
