---
layout: layouts/base.njk
---
<main
	class="[][][ content ]"
>
	<div
		class="[ stack-lg ][][ page-header ]"
	>
		<div
			class="[ stack-sm ][ container center font-sans ][]"
		>
			<h1 class="[][ bold font-2 line-1 ][]">{{ title }}</h1>
		</div>
	</div>

	<div
		class="[ stack container ][ center ][ page-container page-contents ]"
	>
		<div class="[ stack measure ][ center ][]">
			{{ content | safe }}
			
			{% if env.PORTWAY_SHOW_EDIT_LINK == "true" %}
			<div class="[][ border-top padding-top-0 font-sm ][ portway-tools ]">
				<a href="{{ page.documentUrl }}">Edit this page in Portway</a>
			</div>
			{% endif %}
		</div>
	</div>
</main>
