---
title: Archive of Posts
layout: layouts/page.njk
editLink: false
---
{%- set sortedPosts = (documents.posts | sortPosts("date")) %}

<div class="[ stack-lg ][][]">
{%- set previousMonth = "" %}
{%- for currentPost in sortedPosts %}
	{%- set currentYYYY = currentPost.date.getFullYear() %}
	{%- set currentMM = (currentPost.date.getMonth() + 1).toString().padStart( 2, "0" ) %}

	{% set currentMonth %}{{ currentYYYY }}{{ currentMM }}{% endset %}

	{% if currentMonth != previousMonth %}
	<div class="[][ stack ][]">
		<h2>{{ currentPost.date.toLocaleDateString([], { month: "long" } ) }} {{ currentYYYY }}</h2>
		<div class="[ stack-sm ][][]">
	{% endif %}

	<p>
		<span class="[][ color-gray font-sm margin-right-0 tabular-nums uppercase ][]">
		{% if currentPost.isPublished %}
			{% date currentPost.date %}
		{% else %}
			Unpublished
		{% endif %}
		</span>
		<a href="{{ currentPost.permalink }}">{{ currentPost.name }}</a>
	</p>

	{%- set nextPost = sortedPosts[ loop.index0 + 1 ] %}
	{% if nextPost %}
		{%- set nextYYYY = nextPost.date.getFullYear() %}
		{%- set nextMM = (nextPost.date.getMonth() + 1).toString().padStart( 2, "0" ) %}
		{%- set nextMonth %}{{ nextYYYY }}{{ nextMM }}{% endset -%}

		{% if currentMonth != nextMonth %}
		</div>
	</div>
		{% endif %}
	{% endif %}

	{% set previousMonth = currentMonth %}
{%- endfor %}
</div>
