---
title: Archive of Posts
layout: layouts/page.njk
editLink: false
---
{%- set sortedPosts = (documents.posts | sortPosts("date")) %}
{%- set previousYear = 0 %}
{%- set previousMonth = 0 %}
{%- for post in sortedPosts %}
	{%- set currentYear = post.date.getFullYear() %}
	{%- set currentMonth = post.date.getMonth() + 1 %}
	{%- set newMonth = currentMonth != previousMonth %}

	{%- set nextPost = posts[ loop.index0 + 1 ] %}

	{%- if currentYear != previousYear or currentMonth != previousMonth %}
		<h2>{{ post.date.toLocaleDateString([], { month: "long" } ) }} {{ currentYear }}</h2>{%- endif %}
	{%- if newMonth %}
		<div class="[ stack-sm ][][]">
	{%- endif %}
			<p>
				<span class="[][ color-gray font-sm margin-right-0 tabular-nums uppercase ][]">
				{% if post.isPublished %}
					{% date post.date %}
				{% else %}
					Unpublished
				{% endif %}
				</span>
				<a href="{{ post.permalink }}">{{ post.name }}</a>
			</p>
	{% if nextPost and currentMonth != (nextPost.date.getMonth() + 1) %}
		</div>
	{% endif %}

	{%- set previousYear = currentYear %}
	{%- set previousMonth = currentMonth %}
{%- endfor %}
