---
layout: layouts/base.njk
---
<main
	class="[][][ content ]"
>
	<div
		class="[ stack-lg ][][ page-header ]"
	>
		<div
			class="[ stack-sm ][ container center ][]"
		>
			<h1 class="[][ bold line-1 ][ site-name ]">{{ blog.name }}</h1>			
			{% if blog.description -%}
			<p class="[][ font-sm opacity-75 ][]">{{ blog.description }}</p>
			{%- endif %}
		</div>
	</div>

	<div
		class="[ stack-lg ][ container center ][ page-container ]"
	>
		{% if documents.posts.length > 0 %}
		<div class="[][ grid ][ posts ]">
			{% for post in documents.posts | slice( 0, 9 ) -%}
				{% include "components/post-card.njk" %}
			{% endfor -%}
		</div>
		<div class="[][ border-top padding-top-0 ][]">
			<p>View all posts in <a href="/archive">the archive</a>.</p>
		</div>
		{% else %}
		<div
			class="[ stack container ][ center ][ page-container page-contents ]"
		>
			<div class="[ stack measure ][ center bg-gray-lightest padding-1 rounded ][]">
				{% if env.PORTWAY_POSTS_ID == undefined or env.PORTWAY_POSTS_KEY == undefined %}
				<p><strong>Howdy!</strong> <span role="img" aria-label="waving">👋</span> This site appears to be missing one or more required environment variables. See <a href="https://eleventy-portway-starter.netlify.app/posts/getting-started/">Getting Started</a> for details on configuring your site to communicate with Portway.</p>
				{% else %}
				<p><strong>Hello!</strong> <span role="img" aria-label="waving">👋</span> It looks like this site is configured properly, but doesn’t have any blog posts to display just yet.</p>
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
</main>
