---
layout: layouts/page.njk
tags: pages
pagination:
    data: documents.pages
    size: 1
    alias: page
    addAllPagesToCollections: true
eleventyComputed:
    title: "{{ page.name }}"
    description: "{{ page.description }}"
    navigation: "{{ page.data.navigation }}"
    socialImage: "{{ post.image.src }}"
    sort: "{{ page.data.sort }}"
permalink: "/{{ page.permalink }}/index.html"
---
{{ page.html | safe }}
