---
layout: layouts/base.njk
tags: posts
pagination:
    data: posts
    size: 1
    alias: post
    addAllPagesToCollections: true
eleventyComputed:
    title: "{{ post.name }}"
    description: "{{ post.excerpt }}"
    socialImage: "{{ post.image.src }}"
permalink: "/{{ post.permalink }}/index.html"
---
<main
    class="[][ center container font-serif ][ content post ]"
>
    <div class="[ stack-lg measure ][ center ][]">
        <header class="[ stack-sm ][][ post-header ]">
            <h1 class="[][ line-1 font-sans ][]">{{ post.name }}</h1>
            <p class="[][ color-gray font-sans font-sm uppercase ][]">
            {% if post.isPublished %}
                {% date post.date %}
            {% else %}
                Unpublished
            {% endif %}
    
            {% if post.data.category %}
                &bull; {{ post.data.category }}
            {% endif %}
            </p>
        </header>

        <article class="[ stack ][ color-gray-dark font-sans ][ page-contents ]">
            {{ post.html | safe }}
        </article>
    </div>
</main>
