---
layout: layouts/base.njk
tags: posts
pagination:
    data: posts
    size: 1
    alias: post
    addAllPagesToCollections: true
eleventyComputed:
    title: "{{ post.name }}"
    description: "{{ post.excerpt }}"
    socialImage: "{{ post.image.src }}"
    feedContent: "{{ post.html | safe }}"
permalink: "/{{ post.permalink }}/index.html"
---
<main
    class="[][ center container ][ content post ]"
>
    <div class="[ stack-lg measure ][ center ][]">
        <header class="[ stack-sm ][][ post-header ]">
            <h1 class="[][ line-1 ][]">{{ post.name }}</h1>
            {% include "components/post-metadata.njk" %}
        </header>

        <article class="[ stack ][][ page-contents ]">
            {{ post.html | safe }}
        </article>

        {% if env.PORTWAY_SHOW_TOOLS == "true" %}
        <div class="[][ border-top padding-top-0 font-sm ][ portway-tools ]">
            <a href="{{ post.documentUrl }}">Edit this post on Portway</a>
        </div>
        {% endif %}
    </div>
</main>
